@deep: ~'>>>';

@screen-sm: 768px;
@screen-sm-min: @screen-sm;
@container-sm: 720px;

@screen-md: 992px;
@screen-md-min: @screen-md;
@container-md: 940px;

@screen-lg: 1200px;
@screen-lg-min: @screen-lg;
@container-lg: 1200px;


//颜色
@main-color:#782ca8;
@main-lighter-color:#E3F1FA;
@normal-text-color: #565656;