.lay-vv {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;

    &.display-row {
        flex-direction: row !important;

        .lay-vv__t {
            width: 40%;
            height: 100%;
        }

        .lay-vv__b {
            width: 60%;
            height: 100%;
            box-shadow: none !important;
        }
    }

    &.no-b-header {
        .lay-vv__b__body {
            margin-top: 5px;
        }
    }

    .lay-vv__t {
        width: 100%;
        height: 50%;
        overflow-y: auto;
        z-index: 1;
        position: relative;
    }

    .lay-vv__b {
        width: 100%;
        height: 50%;
        padding: 0 15px 15px 15px;
        z-index: 2;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
        overflow-y: auto;
        position: relative;

        .pso-view-body {
            padding: 10px 0 0 0;
        }
    }

    .lay-vv__b-header {
        left: 15px;
        right: 15px;
        position: absolute;
        background-color: #fff;
        z-index: 99999;
    }

    .lay-vv__b__body {
        margin-top: 54px;
        height: calc(100% - 54px);

        &.multifv {

            .pso-view-body {
                padding: 10px 0 0 0; 
            }
        }
    }
}