.pso-data-mgmt {
    height: 100%;
    width: 100%;
    display: flex;

    .pso-data-mgmt__tree {
        height: 100%;
        width: 300px;
    }

    .pso-data-mgmt__content {
        flex: 1;
        width: calc(100% - 300px);
    }
}

.pso-dd {
    .pso-dd-header {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .pso-dd-header__title {
            font-size: 20px;
            color: rgb(145, 143, 143);
        }

        .pso-dd-header__btns {}
    }

    .pso-dd-tab {
    }
}

.pso-worksheet-menu {
    .pso-worksheet-menu__list {
        display: flex;
        overflow: hidden;
    }

    .pso-worksheet-menu__item {
        width: 100%;
        padding: 20px 0;
        transition: all 0.2s ease-in-out;
        flex: 1;

        &.active {
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
            transition: all 0.2s ease-in-out;
        }

        >img {
            display: block;
            margin: 0 auto;
            width: 30%;
        }

        >span {
            display: block;
            text-align: center;
            margin-top: 10px;
            color: #999;
            font-size: 13px;
        }

        cursor: pointer;
    }

    .pso-worksheet-menu__tip {
        min-height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        color: #999;
    }
}

.worksheet-dialog {
    .el-dialog__body {
        padding: 0;
    }
}

.dialog-fade-leave-active .el-dialog.worksheet-dialog {
    animation: anim-close 2s;
}

@keyframes anim-close {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}