.grid-designer {
    padding: 15px 0;

    height: 100%;

    &.paper-designer {

        .grid-designer__stage {

            .grid-designer__stage-body {
                display: flex;

                .grid-designer__stage-body-l {
                    background-color: #fff;
                    width: 200px;
                    padding: 5px 10px 10px 10px;

                    .el-form-item {
                        margin-bottom: 0px;
                    }
                }

                .grid-designer__stage-body-r {
                    flex: 1;
                }
            }
        }
    }

    .grid-designer__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 43px;
        border-bottom: 1px solid #ebedf0;
        padding: 0 10px;

        .grid-designer__header-l {
            color: #666;

            i {
                margin-right: 3px;
            }
        }
    }

    .grid-designer__body {
        display: flex;
        height: 100%;

        .grid-designer-item {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #666;
            font-size: 24px;
            height: 100%;
            background-color: #fff;
            transition: 'background-color'.3s ease-in-out;

            &.grid-designer-item__active {
                background-color: #FEF9EE;
                transition: 'background-color'.3s ease-in-out;
            }

            &:hover {
                >i {
                    display: block;
                }
            }

            >i {
                position: absolute;
                top: 5px;

                cursor: pointer;
                display: none;
            }

            .edit {
                left: 5px;
            }

            .delete {
                right: 5px;
            }
        }

        .grid-designer__stage {
            flex: 1;
            border: 1px solid #ebedf0;
            display: flex;
            flex-direction: column;

            .grid-designer__stage-body {
                background-color: #f7f8f9;
                flex: 1;
            }
        }

        .grid-designer__panel {
            width: 340px;
            height: 100%;
            margin-left: 20px;
        }
    }

    .grid-designer__panel {
        border: 1px solid #ebedf0;
        border-radius: 2px;
    }

    .grid-panel {
        height: 100%;

        .grid-panel-tabs {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ebedf0;
            justify-content: space-between;
            padding: 0 10px;
        }

        .grid-panel-body {
            padding-top: 10px;
            height: calc(100% - 41px);
            overflow: auto;
        }
    }

    .designer-nav {
        .designer-nav-item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &.designer-nav-item-active {
                color: @main-color;
            }

            &+.designer-nav-item {
                margin-top: 5px;
            }

            .designer-nav-item__body {
                display: flex;
                align-items: center;
                cursor: pointer;

                i {
                    width: 20px;
                }

                span {
                    width: 110px;
                    .show-a-line();
                }
            }

            .designer-nav-drag {
                cursor: grab;
                margin-left: 5px;
            }

            .designer-nav-del {
                cursor: pointer;
            }
        }
    }
}

.grid-designer-menu {
    padding: 0;
}