.pso-page {
    height: 100%;
    position: relative;

    &.has-header {
        .pso-page-body {
            top: 41px;
        }
    }

    .pso-page-header {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
    }

    .pso-page-body {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        overflow: hidden;

        .pso-page__tree {
            height: 100%;
            min-width: 300px;
            position: relative;

            &.narrow {
                min-width: 200px;
                width: 200px;
            }

            .pso-page__tree-header {
                position: absolute;
                top: 0;
                left: 10px;
                right: 20px;
                background-color: #fff;
                z-index: 1;

                #tab-tree {
                    padding-left: 50px;
                }
            }

            .tag-list {
                padding-top: 20px;
                height: calc(100% - 30px);

                .el-tabs {
                    width: 100%;

                    .el-tabs__header {
                        width: 100%;
                        padding-right: 4px;
                    }

                    .el-tabs__nav {
                        >div {
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    .el-tabs__nav-wrap {
                        &::after {
                            width: 0;
                        }
                    }

                    .is-active {
                        background-color: #F5F5F7;
                    }
                }
            }

        }

        .pso-page-body__content {
            flex: 1;
            height: 100%;
            overflow-y: scroll;
        }
    }

    .pso-page-body__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .el-tabs__header {
        margin: 0 !important;
    }

    .pso-page-wf__stage {
        height: 100%;
        overflow: hidden;
    }

    .pso-wf-stage-wrapper {
        padding: 0;
    }

    .pso-page-body__wrapper {
        padding: 15px;
    }

    .pso-page-body__tabbody {
        padding-top: 20px;

        >div {
            position: relative;
        }
    }
}

.pso-wftag-crl {
    text-align: right;
    margin-top: 20px;
}