 .printer-designer {
     height: 100%;

     .printer-designer-header {
         height: 50px;
         background-color: #fff;
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         z-index: 2;
     }

     .printer-designer-body {
         height: 100%;
         padding-top: 50px;
         position: relative;
         z-index: 1;
         display: flex;
         background: #fafafa;

         .printer-designer-l {
             width: 260px;
             height: 100%;
             overflow: auto;
         }

         .printer-designer-c {
             flex: 1;
             height: 100%;
             overflow: auto;
         }
     }

     .printer-designer-menu {
         background-color: #fff;
         height: 100%;
         padding: 15px;
     }
 }

 .printer-content {
     width: 1000px;
     margin: 0 auto;
     padding: 20px;
     height: 100%;

     >div {
         .richEditor();
         position: relative;
         color: #000;
         font-size: 16px;
         background-color: #fff;
         padding: 20px;
         min-height: 100%;

         table {
             &.bald {
                 >tbody {
                     >tr {
                         >td {
                             border: none;
                         }
                     }
                 }
             }

             td,
             th {
                 border: 1px solid #000;
             }
         }

     }
 }

 .print-preview {
     color: #999;

     .print-preview-body {
         width: 300px;
         margin: 0 auto;
         border: 1px solid #E1E1E1;
     }

     .print-preview-content {
         border: 1px solid #E1E1E1;
         text-align: center;
     }

     .print-preview-list {
         padding: 5px;

         p {
             background-color: #F5F5F5;
             text-align: center;
             height: 30px;
             line-height: 30px;
             font-size: 12px;
             color: #999;
             margin: 0;

             &+p {
                 margin-top: 5px;
             }
         }
     }
 }