 .sql-designer {
     .el-select {
         width: 100%;
     }

     .sql-designer__add {
         margin-bottom: 15px;
     }

     .el-form-item {
         margin-bottom: 15px;
     }

     .sql-block {
         display: flex;

         .sql-block__base {
             flex: 1;
         }

         .sql-block__extend {
             margin-left: 15px;
             width: 500px;
         }
     }
 }