 .sql-designer-header {
     .form-executor-header__l {
         flex: initial !important;
     }

     .sql-designer-header__body {
         flex: 1;
         margin-left: 50px;

         .el-tabs__header {
             margin: 0;
             border: none;
         }

         .el-tabs__nav {
             border: none;
         }

         .el-tabs__item {
             height: 28px;
             line-height: 28px;
         }
     }
 }

 .sql-designer-sort {
     .sql-designer-sort-item {
         display: flex;
         align-items: center;
         justify-content: space-between;
         cursor: grab;

         &+.sql-designer-sort-item {
             margin-top: 5px;
         }

         &.active {
             color: @main-color;
         }
     }
 }

 .sql-designer-wrapper {
     position: relative;
     height: 100%;
     width: 100%;
 }

 .sql-designer {
     position: relative;
     height: 100%;
     width: 100%;
     display: flex;
     overflow: hidden;

     .sql-designer-base {
         padding: 15px;

         .el-select {
             width: 100%;
         }
     }



     .sql-designer__op {
         text-align: right;
         margin-bottom: 10px;
     }

     .sql-designer-field {
         padding: 15px;
     }

     .sql-designer-ctl__btn {
         height: 30px;
         line-height: 30px;
         text-align: center;
         cursor: pointer;
         padding: 0 5px;

         &:hover {

             span,
             i {
                 color: #999;
             }
         }

         span,
         i {
             color: @main-color;
             font-size: 16px;
         }

         span {
             margin-left: 5px;
         }

         &+.sql-designer-ctl__btn {
             margin-left: 10px;
         }
     }

     .sql-designer-l {
         width: 600px;
         height: 100%;
         overflow: auto;

         .el-collapse {
             border-top: none;

             .el-collapse-item__header {
                 padding-left: 15px;
                 color: #999;
                 background-color: #f7f7f7;
                 height: 40px;
                 line-height: 40px;
             }

             .el-collapse-item__content {
                 padding: 0;
             }
         }
     }

     .sql-designer-debug {
         position: absolute;
         bottom: 0;
         left: 31px;
         right: 0;
         z-index: 1;
         background-color: #fff;

         .sql-designer-debug__header {
             height: 40px;
             display: flex;
             align-items: center;
             justify-content: space-between;
             padding: 0 10px;
             background-color: #f7f7f7;
             overflow: hidden;

             .el-tabs__header {
                 margin-bottom: 0;
             }

             .el-tabs__item {
                 height: 34px;
                 line-height: 30px;
             }

             .el-tabs__nav-wrap::after {
                 width: 0;
             }
         }

         .sql-designer-debug__body {
             height: 200px;
             overflow: auto;

             .sql-designer-debug__params {
                 padding: 15px;
             }

             .sql-designer-debug__result {
                 padding: 10px;
                 line-height: 26px;
             }
         }
     }

     .sql-designer-ctl {
         height: 40px;
         background-color: #f7f7f7;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 0 20px;

         >div {
             display: flex;
             align-items: center;
             justify-content: flex-end;
         }
     }

     .sql-designer-c {
         flex: 1;
         height: 100%;
         position: relative;



         .vue-codemirror {
             height: calc(100% - 40px);
             width: 100%;
             z-index: 0;
             position: relative;
         }

         .CodeMirror-line {
             line-height: 24px !important;
         }

         .CodeMirror-gutters {
             border: none;
         }

         .CodeMirror {
             height: 100% !important;
             width: 100%;
             border-radius: 0;
             border: none;
         }

         .CodeMirror-scroll {
             overflow: auto !important;
         }

         .CodeMirror-linenumbers {
             width: 30px;
         }

         .CodeMirror-hints {
             z-index: 99999999;
         }
     }

     .sql-designer-r {
         width: 300px;
         display: flex;
         flex-direction: column;

         .sql-designer-tip {
             flex: 1;
             border-left: 5px solid #f7f7f7;
         }
     }

     .sql-designer-tip {

         .el-textarea {
             height: 100%;

             textarea {
                 height: 100%;
                 border: none;
                 padding: 5px;
             }
         }
     }
 }

 .sql-designer-copyitem {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .el-divider__text {
     background: #fff;
 }

 .sql-designer-gen {
     padding: 15px;
     height: 100%;
     overflow: auto;

     .sql-designer__op {
         text-align: right;
         margin-bottom: 10px;
     }

     .sql-designer-gen__header {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-bottom: 20px;


         .el-form-item__label {
             display: none;
         }

         .el-form-item {
             margin: 0;
         }

         .el-form-item__content {
             line-height: initial;
         }
     }
 }

 .sql-designer__search {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 15px;
 }

 .code-widget {
     display: inline-block;
     height: 22px;
     line-height: 20px;
     background: #fd8647;
     color: #fff;
     margin: 0 4px;
     border-radius: 2px;
     padding: 0 8px;
     font-size: 13px;
     font-family: -apple-system, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 }