.pso-tag {
    display: flex;

    .pso-tag__l {
        width: 400px;
        margin-right: 20px;

        .pso-tag-controller {
            text-align: left;
            margin: 15px 0 15px 0;
        }
    }

    .pso-tag__r {
        flex: 1;
    }

    .pso-tag__body {
        margin-top: 20px;
    }
}