.pso-title {
    margin: 5px 0 20px 0;
    padding-left: 15px;
    position: relative;
    color: #666;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        height: 100%;
        width: 5px;
        background-color: @main-color;
    }
}